@yellow: #fc0;

body {
  font: 1em Lato, sans-serif;
}

#ulcca {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.yksi {
  background: url("bg-image.jpg") no-repeat center;
  background-size: cover;
  text-align:center;
  color:#fff;
  grid-column: 1 / span 2;
}

.kaksi {
  background: #fff;
}
