@yellow: #fc0;

body {
  font: 1em Lato, sans-serif;
}

#ulcca {
  display:flex;
  align-items:stretch;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#ulcca > * {
  flex: 1 100%;
}

.yksi {
  background: url("bg-image.jpg") no-repeat center;
  background-size: cover;
  text-align:center;
  font-color:#fff;
  flex: 2 0px;
}

.kaksi {
  background: #fff;
}
